<% content_for :section do %>
  <% if current_user? %>
    <%= link_to 'New Event', new_event_path, class: 'orange event_title fa fa-plus' %>
  <% end %>

  <h1>All Events To Assist</h1>

  <h3 class="blue">Upcoming Events</h3>

  <div class="row">
    <%= displaylist(@future_events)%>
  </div>

  <h3 class="blue">Past Events</h3>

  <div class="row">
    <%= displaylist(@past_events)%>
  </div>



<% end %>
