<h1>All Events To Assist</h1>

<h3>Upcoming Events</h3>

<div class="row">
  <%= displaylist(@future_events)%>
</div>

<h3>Past Events</h3>

<div class="row">
  <%= displaylist(@past_events)%>
</div>


<% if current_user? %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
